p, h3 {
    margin: 0px;
}

input.fieldInput {
    width: 15%;
    padding: 10px;
}

div.intro {
    display: inline-block;
    width: 100%;
}
div.intro p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 30%;
    margin: auto;

}

h1.mainHeading {
    text-align: center;
    font-family: 'Open Sans', sans-serif;  
}



div h3.formHeader {
    padding-bottom: 5%;
}

div.form {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    border-radius: 50px;
    margin: 5% 30%;
    padding: 2%;
    background-color: #e5e5e5;
    box-shadow: 1px 1px 15px 1px rgba(179,179,179,0.92);
}

div form span {
    font-size: 140%;
}
input.fieldInput {
    font-size: 110%;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

input[type=text]:focus, input[type=submit]:focus {
    outline: none;
}

input[type=submit] {
    font-size: 110%;
    padding: 10px;
    margin-right: 10px;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}